<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Hola <strong th:text="${userName}">Usuario</strong>,</p>
    <p>Hemos recibido una solicitud para restablecer tu contraseña.</p>
    <p>Haz clic en el siguiente enlace para continuar:</p>
    <p><a th:href="@{${url}}" target="_blank">Recuperar contraseña</a></p>
    <br>
    <p>Si no realizaste esta solicitud, puedes ignorar este correo.</p>
    <hr>
    <p>Clínica Caminando<br>www.clinicacaminando.com</p>
</body>
</html>